<!DOCTYPE html>
<html>

<head>
    <!-- <meta http-equiv="refresh" content="5"> -->
    {{meta}}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Fair Todo">
    <meta property="og:description" content="Simple todo lists for teams.">
    <!-- <meta property="og:image" content="https://fairlogin.de/img/FL_LogoGreen.svg"> -->
    <!-- <meta property="og:url" content="https://fairlogin.de"> -->
    <meta property="og:site_name" content="Fair Todo">

    <meta name="twitter:title" content="Fair Todo">
    <meta name="twitter:description" content="Simple todo lists for teams.">
    <!-- <meta name="twitter:image" content="https://fairlogin.de/img/FL_LogoGreen.svg"> -->
    <!-- <meta name="twitter:card" content=""> -->

    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/tw-core.css">

    <script>
     function init (){
         const linkUUID = window.location.pathname.split('/')[2];
         /* const domain = "appgyverrn"; */
         const domain = "fairtodoapp";
         const link = domain + "://add-list?link=" + linkUUID;
         document.getElementById("app-link").href=link;
     }
    </script>
</head>

<body onload="init()" class="bg-primary text-gray-100 p-5">
    <div class="text-lg">Fair Todo</div>
    <div class="text-sm mb-5">Check the box when you finished the task</div>
    <div class="text-1xl">{{lists/title}}</div>
    <div class="text-sm border-b py-2">{{lists/description}}</div>
    <div class="container min-h-full mt-5">
        {% for item in items %}
        <li class="list-none my-5 border-b">
            <div class="flex flex-col">
                <div class="flex">
                    <div class="container lg:w-1/2"> {{item.list_items/title}} </div>
                    <form action="/worker/{{links/uuid}}/tick/{{item.list_items/uuid}}" method="get">
                        <button type="submit" name="tick" value={{item.list_items/state}}>
                            <div class="h-10 w-10 bg-gray-100 text-primary text-3xl m-auto rounded">
                                {% if item.list_items/state  %} ✓ {% endif %}</div>

                        </button>
                    </form>
                </div>
                <div class="text-xs ml-2">
                    {{item.list_items/description}}
                </div>
            </div>
        </li>
        {% endfor %}
    </div>
    <div class="mt-10" >
        <a id="app-link" class="bg-green-700 p-3 cursor-pointer">Open and Edit in App</a>
    </div>

    <div class="mt-10">
        <a class="text-md text-orange-400 underline" href="https://fairtodo.com">Create your own lists for free</a>
    </div>
</body>

</html>
